*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Poppins", serif;
    height: 100%;
    background-color: gray

}

.main{
    display: flex;
    flex-direction: column;
    margin:0px;
    margin: 0px auto;
    width: 380px;
    height: 100%;
    background-color: #080f15;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;

    /* padding-bottom: 10px; */
}

.main .head{
    color: #fff;
    text-align: center;
    margin: 10px;
    font-weight: 500;

}

.form_container{
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 330px;
    position: relative;
    
}
form{
    display: block;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
}

@keyframes form_container{
    

}
input{
    padding: 10px;
    margin-bottom: 10px;
    background-color: hsl(340, 2%, 27%);
    border: none;
    padding: 15px;
    color: #fff;

}

textarea{
    height: 80px;
    padding-top: 10px;
    resize: none;
    background-color: #424242;
    border: none;
    color: #fff;
}
button{
    width: 100px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
    height: 35px;
    font-size: 20px;
    background-color: aquamarine;

}

 ::placeholder{
    padding: 10px;
    color: #fff;
    font-size: 16px;

}
 
.s-task h1{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    
}
.s-task p{
    color: #fff; 
}

.s-task{
    font-weight: 500;
    padding: 10px;
    font-size: 18px;
    /* border: 1px solid green; */
}

.task{
    background-color:#8D6E63;
    width: 330px;
    /* height: auto; */
    margin-top: 0px;
   margin-top: 100px;
   margin-bottom: -80px;
}

/* .task p{
    width: 320px;
    border: 1px solid green;
} */

.anchor{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    color: blue;
} 

.anchor a{
    text-decoration: none;
}

 .heading{
    /* margin-left: 40px; */
    display: flex;
    justify-content: space-between;
}

 i{
    color: #000;
    font-size: 22px;
}

.Update{
    background-color: rgb(44, 202, 44);
}


/* ---------SHOW----------- */


.main_show{
    background-color:  #080f15;
    width: 380px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 30px;
}

.main_show a{
    color: aqua;
    text-decoration: none;
    font-size: 20px;
}

.main_show h1{
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 400;
}

.main_show a{
    margin-left: 30px;
}

.filedata{
    /* background-color:#080f15; */
    margin: 40px 20px;
    padding: 10px 10px 20px 10px  ;
    box-shadow: 4px 8px 4px;
}

.filedata h2{
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
}

.filedata p{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.dev{
    color: #fff;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    background-color: #FFA000;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#empty{
    color: red;
    border: 0px solid yellow;
    margin: 100px auto;
}