<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="/Stylesheet/style.css">
</head>
<body>
    <div class="main_show">
        <a href="http://localhost:8080/">GO to home page</a>
    <div class="form_container">
        <form action="/edit" method="post">
            <input style="opacity: 0.5;" type="text" name="previous" placeholder="Previous Name" value="<%= filename%>">
            <input type="text" name="new" placeholder="New name">
            <button class="Update">Update</button>
        </form> 
    </div>
</div>
</body>
</html>